RPC_URL=http://127.0.0.1:8545
SEPOLIA_RPC_URL=https://eth-sepolia.g.alchemy.com/v2/your_api_key
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
LINEA_SEPOLIA_RPC_URL=https://example.com
ETHERSCAN_API_KEY=your_api_key